body{
	background-color: #80d4ff;	
	font-family: 'Baloo', cursive;
}

h1 {
	color: #0000b3; 
}

h2 {
	color: #0000b3;
}

p {
	color: #0000ff;
}

img{
	display: block;
	height: 450px;
	width: 500px;
}


#title {
	background: #8e4efc;
	width: 600px;
	padding-left: 30px;
	padding-bottom: 15px;
	border-radius: 5px; 
}

#main {
	background: white;
	width: 750px;
	padding: 15px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
}
